nav {
    height: 4rem;
    width: 100vw;
    background-color: #000000;
    box-shadow: 0 3px 20px #fa6e98bd;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 99;
    opacity: 0;
}

.display-nav {
    animation: navIn 1s;
    animation-fill-mode: forwards;
}

@keyframes navIn {
    100% {
        opacity: 1;
    }
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    position: absolute;
    left: 5%;
    align-self: center;

    p {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding-right: 5%;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    font-weight: 100;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    margin: 0 0 0 10%;
}

.contact-button::before {
    content: none !important;
}

/*Styling Buttons*/
.contact-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    font-weight: 500!important;
}

.contact-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 99;
}

.hamburger {
    display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}